:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
}

.purple {
    color: var(--purple);
}
.bg-purple {
    background-color: var(--purple);
}
.border-purple {
    border-color: var(--purple) !important;
}

.bg-none {
    background-color: rgba(0, 0, 0, 0) !important;
}

body {
    display: flex;
    font-family: 'Acme', sans-serif;
}

.container-nav {
    height: auto;
    position: fixed;
    top: 58px;
    left: 8px;
    z-index: 1001;
    transition: left 0.5s;
    opacity: 0.9;
}
.container-nav.hide {
    left: -262px;
}
nav {
    width: 270px;
    height: calc(100vh - 84px);
    border: 4px solid;
    border-right: 8px solid;
    border-radius: 8px;
    display: flex;
}

.btn-map {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border: 3px solid var(--green);
    border-right: 0;
    font-weight: 700;
}
.btn-chart {
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    border: 3px solid var(--purple);
    border-left: 0;
    font-weight: 700;
}

.nav-label {
    height: 40px;
    width: fit-content;
    color: white;
    font-size: larger;
    font-weight: 400;
    border-left: 0;
    border-radius: 50rem !important;
    border-bottom-left-radius: 0 !important;
}

#select-subject, #select-country {
    margin-left: auto;
    font-weight: 500;
    border: 3px solid;
    border-radius: 50rem !important;
    border-top-left-radius: 0 !important;
}

.select-subject option {
    font-weight: 500;
}

.label-rank-from {
    width: fit-content;
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 18px;
    border-top-left-radius: 0;
}
.label-rank-to {
    width: fit-content;
    color: white;
    font-weight: 400;
    border: 0;
}
#select-rank-s {
    margin-left: auto;
    font-weight: 500;
    border: 3px solid;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}
#select-rank-e {
    margin-left: auto;
    font-weight: 500;
    border: 3px solid;
    border-left: 0;
    border-radius: 50rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#btn-search {
    font-size: larger;
    font-weight: 700;
    border: 3px solid;
}
#btn-home {
    border: 3px solid;
}
.btn-outline-green {
    color: var(--green);
    border-color: var(--green);
}
.btn-outline-green:hover {
    color: white;
    background-color: var(--green);
}
.btn-outline-purple {
    color: var(--purple);
    border-color: var(--purple);
}
.btn-outline-purple:hover {
    color: white;
    background-color: var(--purple);
}

#nav-toggle {
    width: 20px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding-left: 0;
    color: white;
}